.hrline {
  border-top: 1px solid rgb(0, 110, 255);
}

.hrnoline {
  border-top: 1px solid white;
}

.relativeshit {
  margin-top: 2em;
}
.backghz {
  max-height: 50vh !important;
  min-height: 500px !important;
}

.objectfit {
  /* object-fit: cover; */
  height: 600px !important;
  width: auto !important;
}

.videosize {
  width: 70%;
  height: auto;
  margin: auto;
}

.gamesize {
  margin-left: 50vw;
  transform: translateX(-50%);
}

.epic-meme-container {
  display: flex;
  float: left;
  margin-top: 2%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.zoomonhovewr {
  transition: transform 0.2s;
}

.zoomonhovewr:hover {
  transform: scale(1.2);
  z-index: 10;
}

.zoomonhovewr img {
  width: 300px;
}

.slider-wrapper {
  margin: 100px;
}

.slider {
  position: relative;
  width: 1000px;
  height: 5px;
  overflow: hidden;
  /* margin-top: 200px; */
}

.line {
  position: absolute;
  opacity: 0.4;
  background: var(--primary-color);
  width: 150%;
  height: 5px;
}

.subline {
  position: absolute;
  background: var(--primary-color);
  height: 5px;
}
.inc {
  animation: increase 2s infinite;
}
.dec {
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}
@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

* {
  box-sizing: border-box;
}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196f3;
  opacity: 0.7;
  border-radius: 50%;
}

.picmiddle {
  margin-left: 50vw;
  transform: translateX(-50%);
}

.kankercssvaldoodaub {
  width: 600px;
  max-width: 90vw;
  /* IK HOOP DAT DE MAKER VAN CSS DOOD GAAT AAN KANKER EN DAT ZIJN ZONEN OF DOCHTERS HEM IN DE GRAF MOETEN ZIEN. EN NIET IN HET MIDDEN VAN ZIJN GRAF MAAR SCHUIN */
}

.pootis {
  height: 1080;
  width: auto;
}

.spotify {
  margin-left: 50vw;
  transform: translateX(-50%);
}

.discord {
  margin-left: 50vw;
  transform: translateX(-50%);
}

@font-face {
  font-family: animalCrossingFont;
  src: url(../fonts/FinkHeavy.ttf);
}

.animalfont {
  font-family: animalCrossingFont;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:700");
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #767676;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.footer {
  position: absolute bottom 0;
}

.botton-three {
  margin-right: 1vmin;
}

.altijdlaag {
  position: absolute bottom 1 !important;
}

/* BAZINGA ALKSDJFA;KLSDJF;LKDASWJF;KLADSJF;LKASJDF;LKAJSDF;KLJASDLFKJA;LSDKFJAS;LKDFJ;ALKSDJF; */

.cssload-box {
  position: absolute;
  width: 292px;
  height: 78px;
  left: 50%;
  margin-left: -146px;
}

.cssload-loading:after {
  content: "";
  position: absolute;
  left: -39px;
  display: block;
  width: 39px;
  height: 49px;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8), 94px 0 0px rgb(61, 195, 255),
    140px 0 2px rgba(61, 195, 255, 0.8), 187px 0 4px rgba(61, 195, 255, 0.6),
    234px 0 6px rgba(61, 195, 255, 0.4), 281px 0 8px rgba(61, 195, 255, 0.2);
  transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  animation: cssload-loadingAnim 2.3s linear infinite;
  -o-animation: cssload-loadingAnim 2.3s linear infinite;
  -ms-animation: cssload-loadingAnim 2.3s linear infinite;
  -webkit-animation: cssload-loadingAnim 2.3s linear infinite;
  -moz-animation: cssload-loadingAnim 2.3s linear infinite;
}

@keyframes cssload-loadingAnim {
  0% {
    box-shadow: 47px 0 0px rgb(61, 195, 255), 94px 0 2px rgba(61, 195, 255, 0.8),
      140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4),
      234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
  }
  10% {
    box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8), 94px 0 0px rgb(61, 195, 255),
      140px 0 2px rgba(61, 195, 255, 0.8), 187px 0 4px rgba(61, 195, 255, 0.6),
      234px 0 6px rgba(61, 195, 255, 0.4), 281px 0 8px rgba(61, 195, 255, 0.2);
  }
  20% {
    box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6),
      94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 0px #3dc3ff,
      187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 4px rgba(61, 195, 255, 0.6),
      281px 0 6px rgba(61, 195, 255, 0.4);
  }
  30% {
    box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4),
      94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 2px rgba(61, 195, 255, 0.8),
      187px 0 0px #3dc3ff, 234px 0 2px rgba(61, 195, 255, 0.8),
      281px 0 4px rgba(61, 195, 255, 0.6);
  }
  40% {
    box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2),
      94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 4px rgba(61, 195, 255, 0.6),
      187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 0px #3dc3ff,
      281px 0 2px rgba(61, 195, 255, 0.8);
  }
  50% {
    box-shadow: 47px 0 10px rgba(61, 195, 255, 0),
      94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 6px rgba(61, 195, 255, 0.4),
      187px 0 4px rgba(61, 195, 255, 0.6), 234px 0 2px rgba(61, 195, 255, 0.8),
      281px 0 0px #3dc3ff;
  }
  60% {
    box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2),
      94px 0 10px rgba(61, 195, 255, 0), 140px 0 8px rgba(61, 195, 255, 0.2),
      187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 4px rgba(61, 195, 255, 0.6),
      281px 0 2px rgba(61, 195, 255, 0.8);
  }
  70% {
    box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4),
      94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 10px rgba(61, 195, 255, 0),
      187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 6px rgba(61, 195, 255, 0.4),
      281px 0 4px rgba(61, 195, 255, 0.6);
  }
  80% {
    box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6),
      94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 8px rgba(61, 195, 255, 0.2),
      187px 0 10px rgba(61, 195, 255, 0), 234px 0 8px rgba(61, 195, 255, 0.2),
      281px 0 6px rgba(61, 195, 255, 0.4);
  }
  90% {
    box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8),
      94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 6px rgba(61, 195, 255, 0.4),
      187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 10px rgba(61, 195, 255, 0),
      281px 0 8px rgba(61, 195, 255, 0.2);
  }
  100% {
    box-shadow: 47px 0 0px #3dc3ff, 94px 0 2px rgba(61, 195, 255, 0.8),
      140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4),
      234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
  }
}

@-o-keyframes cssload-loadingAnim {
  0% {
    box-shadow: 47px 0 0px rgb(61, 195, 255), 94px 0 2px rgba(61, 195, 255, 0.8),
      140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4),
      234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
  }
  10% {
    box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8), 94px 0 0px rgb(61, 195, 255),
      140px 0 2px rgba(61, 195, 255, 0.8), 187px 0 4px rgba(61, 195, 255, 0.6),
      234px 0 6px rgba(61, 195, 255, 0.4), 281px 0 8px rgba(61, 195, 255, 0.2);
  }
  20% {
    box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6),
      94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 0px #3dc3ff,
      187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 4px rgba(61, 195, 255, 0.6),
      281px 0 6px rgba(61, 195, 255, 0.4);
  }
  30% {
    box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4),
      94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 2px rgba(61, 195, 255, 0.8),
      187px 0 0px #3dc3ff, 234px 0 2px rgba(61, 195, 255, 0.8),
      281px 0 4px rgba(61, 195, 255, 0.6);
  }
  40% {
    box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2),
      94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 4px rgba(61, 195, 255, 0.6),
      187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 0px #3dc3ff,
      281px 0 2px rgba(61, 195, 255, 0.8);
  }
  50% {
    box-shadow: 47px 0 10px rgba(61, 195, 255, 0),
      94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 6px rgba(61, 195, 255, 0.4),
      187px 0 4px rgba(61, 195, 255, 0.6), 234px 0 2px rgba(61, 195, 255, 0.8),
      281px 0 0px #3dc3ff;
  }
  60% {
    box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2),
      94px 0 10px rgba(61, 195, 255, 0), 140px 0 8px rgba(61, 195, 255, 0.2),
      187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 4px rgba(61, 195, 255, 0.6),
      281px 0 2px rgba(61, 195, 255, 0.8);
  }
  70% {
    box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4),
      94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 10px rgba(61, 195, 255, 0),
      187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 6px rgba(61, 195, 255, 0.4),
      281px 0 4px rgba(61, 195, 255, 0.6);
  }
  80% {
    box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6),
      94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 8px rgba(61, 195, 255, 0.2),
      187px 0 10px rgba(61, 195, 255, 0), 234px 0 8px rgba(61, 195, 255, 0.2),
      281px 0 6px rgba(61, 195, 255, 0.4);
  }
  90% {
    box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8),
      94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 6px rgba(61, 195, 255, 0.4),
      187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 10px rgba(61, 195, 255, 0),
      281px 0 8px rgba(61, 195, 255, 0.2);
  }
  100% {
    box-shadow: 47px 0 0px #3dc3ff, 94px 0 2px rgba(61, 195, 255, 0.8),
      140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4),
      234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
  }
}

@-ms-keyframes cssload-loadingAnim {
  0% {
    box-shadow: 47px 0 0px rgb(61, 195, 255), 94px 0 2px rgba(61, 195, 255, 0.8),
      140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4),
      234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
  }
  10% {
    box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8), 94px 0 0px rgb(61, 195, 255),
      140px 0 2px rgba(61, 195, 255, 0.8), 187px 0 4px rgba(61, 195, 255, 0.6),
      234px 0 6px rgba(61, 195, 255, 0.4), 281px 0 8px rgba(61, 195, 255, 0.2);
  }
  20% {
    box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6),
      94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 0px #3dc3ff,
      187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 4px rgba(61, 195, 255, 0.6),
      281px 0 6px rgba(61, 195, 255, 0.4);
  }
  30% {
    box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4),
      94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 2px rgba(61, 195, 255, 0.8),
      187px 0 0px #3dc3ff, 234px 0 2px rgba(61, 195, 255, 0.8),
      281px 0 4px rgba(61, 195, 255, 0.6);
  }
  40% {
    box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2),
      94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 4px rgba(61, 195, 255, 0.6),
      187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 0px #3dc3ff,
      281px 0 2px rgba(61, 195, 255, 0.8);
  }
  50% {
    box-shadow: 47px 0 10px rgba(61, 195, 255, 0),
      94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 6px rgba(61, 195, 255, 0.4),
      187px 0 4px rgba(61, 195, 255, 0.6), 234px 0 2px rgba(61, 195, 255, 0.8),
      281px 0 0px #3dc3ff;
  }
  60% {
    box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2),
      94px 0 10px rgba(61, 195, 255, 0), 140px 0 8px rgba(61, 195, 255, 0.2),
      187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 4px rgba(61, 195, 255, 0.6),
      281px 0 2px rgba(61, 195, 255, 0.8);
  }
  70% {
    box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4),
      94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 10px rgba(61, 195, 255, 0),
      187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 6px rgba(61, 195, 255, 0.4),
      281px 0 4px rgba(61, 195, 255, 0.6);
  }
  80% {
    box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6),
      94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 8px rgba(61, 195, 255, 0.2),
      187px 0 10px rgba(61, 195, 255, 0), 234px 0 8px rgba(61, 195, 255, 0.2),
      281px 0 6px rgba(61, 195, 255, 0.4);
  }
  90% {
    box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8),
      94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 6px rgba(61, 195, 255, 0.4),
      187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 10px rgba(61, 195, 255, 0),
      281px 0 8px rgba(61, 195, 255, 0.2);
  }
  100% {
    box-shadow: 47px 0 0px #3dc3ff, 94px 0 2px rgba(61, 195, 255, 0.8),
      140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4),
      234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
  }
}

@-webkit-keyframes cssload-loadingAnim {
  0% {
    box-shadow: 47px 0 0px rgb(61, 195, 255), 94px 0 2px rgba(61, 195, 255, 0.8),
      140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4),
      234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
  }
  10% {
    box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8), 94px 0 0px rgb(61, 195, 255),
      140px 0 2px rgba(61, 195, 255, 0.8), 187px 0 4px rgba(61, 195, 255, 0.6),
      234px 0 6px rgba(61, 195, 255, 0.4), 281px 0 8px rgba(61, 195, 255, 0.2);
  }
  20% {
    box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6),
      94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 0px #3dc3ff,
      187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 4px rgba(61, 195, 255, 0.6),
      281px 0 6px rgba(61, 195, 255, 0.4);
  }
  30% {
    box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4),
      94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 2px rgba(61, 195, 255, 0.8),
      187px 0 0px #3dc3ff, 234px 0 2px rgba(61, 195, 255, 0.8),
      281px 0 4px rgba(61, 195, 255, 0.6);
  }
  40% {
    box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2),
      94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 4px rgba(61, 195, 255, 0.6),
      187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 0px #3dc3ff,
      281px 0 2px rgba(61, 195, 255, 0.8);
  }
  50% {
    box-shadow: 47px 0 10px rgba(61, 195, 255, 0),
      94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 6px rgba(61, 195, 255, 0.4),
      187px 0 4px rgba(61, 195, 255, 0.6), 234px 0 2px rgba(61, 195, 255, 0.8),
      281px 0 0px #3dc3ff;
  }
  60% {
    box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2),
      94px 0 10px rgba(61, 195, 255, 0), 140px 0 8px rgba(61, 195, 255, 0.2),
      187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 4px rgba(61, 195, 255, 0.6),
      281px 0 2px rgba(61, 195, 255, 0.8);
  }
  70% {
    box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4),
      94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 10px rgba(61, 195, 255, 0),
      187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 6px rgba(61, 195, 255, 0.4),
      281px 0 4px rgba(61, 195, 255, 0.6);
  }
  80% {
    box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6),
      94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 8px rgba(61, 195, 255, 0.2),
      187px 0 10px rgba(61, 195, 255, 0), 234px 0 8px rgba(61, 195, 255, 0.2),
      281px 0 6px rgba(61, 195, 255, 0.4);
  }
  90% {
    box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8),
      94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 6px rgba(61, 195, 255, 0.4),
      187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 10px rgba(61, 195, 255, 0),
      281px 0 8px rgba(61, 195, 255, 0.2);
  }
  100% {
    box-shadow: 47px 0 0px #3dc3ff, 94px 0 2px rgba(61, 195, 255, 0.8),
      140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4),
      234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
  }
}

@-moz-keyframes cssload-loadingAnim {
  0% {
    box-shadow: 47px 0 0px rgb(61, 195, 255), 94px 0 2px rgba(61, 195, 255, 0.8),
      140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4),
      234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
  }
  10% {
    box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8), 94px 0 0px rgb(61, 195, 255),
      140px 0 2px rgba(61, 195, 255, 0.8), 187px 0 4px rgba(61, 195, 255, 0.6),
      234px 0 6px rgba(61, 195, 255, 0.4), 281px 0 8px rgba(61, 195, 255, 0.2);
  }
  20% {
    box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6),
      94px 0 2px rgba(61, 195, 255, 0.8), 140px 0 0px #3dc3ff,
      187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 4px rgba(61, 195, 255, 0.6),
      281px 0 6px rgba(61, 195, 255, 0.4);
  }
  30% {
    box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4),
      94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 2px rgba(61, 195, 255, 0.8),
      187px 0 0px #3dc3ff, 234px 0 2px rgba(61, 195, 255, 0.8),
      281px 0 4px rgba(61, 195, 255, 0.6);
  }
  40% {
    box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2),
      94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 4px rgba(61, 195, 255, 0.6),
      187px 0 2px rgba(61, 195, 255, 0.8), 234px 0 0px #3dc3ff,
      281px 0 2px rgba(61, 195, 255, 0.8);
  }
  50% {
    box-shadow: 47px 0 10px rgba(61, 195, 255, 0),
      94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 6px rgba(61, 195, 255, 0.4),
      187px 0 4px rgba(61, 195, 255, 0.6), 234px 0 2px rgba(61, 195, 255, 0.8),
      281px 0 0px #3dc3ff;
  }
  60% {
    box-shadow: 47px 0 8px rgba(61, 195, 255, 0.2),
      94px 0 10px rgba(61, 195, 255, 0), 140px 0 8px rgba(61, 195, 255, 0.2),
      187px 0 6px rgba(61, 195, 255, 0.4), 234px 0 4px rgba(61, 195, 255, 0.6),
      281px 0 2px rgba(61, 195, 255, 0.8);
  }
  70% {
    box-shadow: 47px 0 6px rgba(61, 195, 255, 0.4),
      94px 0 8px rgba(61, 195, 255, 0.2), 140px 0 10px rgba(61, 195, 255, 0),
      187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 6px rgba(61, 195, 255, 0.4),
      281px 0 4px rgba(61, 195, 255, 0.6);
  }
  80% {
    box-shadow: 47px 0 4px rgba(61, 195, 255, 0.6),
      94px 0 6px rgba(61, 195, 255, 0.4), 140px 0 8px rgba(61, 195, 255, 0.2),
      187px 0 10px rgba(61, 195, 255, 0), 234px 0 8px rgba(61, 195, 255, 0.2),
      281px 0 6px rgba(61, 195, 255, 0.4);
  }
  90% {
    box-shadow: 47px 0 2px rgba(61, 195, 255, 0.8),
      94px 0 4px rgba(61, 195, 255, 0.6), 140px 0 6px rgba(61, 195, 255, 0.4),
      187px 0 8px rgba(61, 195, 255, 0.2), 234px 0 10px rgba(61, 195, 255, 0),
      281px 0 8px rgba(61, 195, 255, 0.2);
  }
  100% {
    box-shadow: 47px 0 0px #3dc3ff, 94px 0 2px rgba(61, 195, 255, 0.8),
      140px 0 4px rgba(61, 195, 255, 0.6), 187px 0 6px rgba(61, 195, 255, 0.4),
      234px 0 8px rgba(61, 195, 255, 0.2), 281px 0 10px rgba(61, 195, 255, 0);
  }
}

.cock {
  margin: 25px 10px;
  animation-duration: 5s;
  color: red;
  animation: linear 0s infinite;
}

}
@keyframes example {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: red;
  }
}


::-webkit-scrollbar
{
  width: 0;
}
#scrollPath
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px; 
  height: 100%;
  background: rgba(255,255,255,0.05);

}

#progressbar
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px; 
  background: linear-gradient(to top, cyan, blue)
    ;

  animation: animate 5s linear infinite;
}
@keyframes animate
{
  0%,100%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }
}
#progressbar:before
{
  content: '';
  position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(to top, cyan, blue)
    ;
    filter: blur(10px)
}
#progressbar:after
{
  content: '';
  position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(to top, cyan, blue)
    ;
    filter: blur(30px)
}

.vibeachtergrond {
  background-image: url(https://thumbs.gfycat.com/AgedMiniatureBoto-max-1mb.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.backgdarkblu {
background-color: #222;
}

.TDUBG {
  background: var(--dark-color);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  opacity: 0.5;
  image-resolution: 900dpi;
}

.TDUPLAY {
  background-image: url(https://thumbs.gfycat.com/AgedMiniatureBoto-max-1mb.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.iframe{
  position: absolute;
  border: none;
  width: 100vw; 
  height: 100vh;
  object-fit: fill;
}
.BGred {
  background-color: darkred;
  border-style: double;
  border-color: silver;
}
.clock {
  margin-left: 50vw;
  transform: translateX(-50%);
}
